[submodule "dapple_packages/erc20"]
	path = dapple_packages/erc20
	url = https://github.com/nexusdev/erc20
[submodule "dapple_packages/actor"]
	path = dapple_packages/actor
	url = https://github.com/nexusdev/ds-actor
